body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: #f4f4f4;
    color: #333;
}

code {
    background-color: #2d2d2d; /* Dark background for the code block */
    color: #c792ea; /* Purpleish text color */
    padding: 10px;
    display: block;
    margin: 10px 0;
    overflow-x: auto;
    border-radius: 5px; /* Optional: adds rounded corners to the code block */
    font-family: monospace; /* Use a monospace font for better readability */
}


.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

header {
    background: #2d2d2d;
    color: white;
    padding-top: 30px;
    min-height: 70px;
    border-bottom: #c792ea 3px solid;
}

header a {
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
}

header ul {
    padding: 0;
    margin: 0;
    list-style: none;
    overflow: hidden;
}

header li {
    float: left;
    display: inline;
    padding: 0 20px 0 20px;
}

header #branding {
    float: left;
}

header #branding h1 {
    margin: 0;
}

header nav {
    float: right;
    margin-top: 10px;
}

header .highlight,
header .current a {
    color:#c792ea ;
    font-weight: bold;
}

header a:hover {
    color: #ffffff;
    font-weight: bold;
}

.section-title {
    color: #c792ea ;
    margin: 0;
    text-align: center;
    padding: 10px 0;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.img-wrap {
    margin: 10px;
    text-align: center;
}

.img-wrap img {
    width: 100%;
    max-width: 200px;
    /* Adjust as needed */
    height: auto;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
}

.img-wrap a:hover img {
    border-color: #50b3a2;
}

.img-description {
    margin-top: 5px;
    font-size: 0.9em;
    color: #666;
}
.image-container {
    display: flex; /* Use flexbox */
    flex-wrap: wrap; /* Wrap items to new line if necessary */
}

.uniform-pictures {
    width: 300px; 
    height: auto;
    margin: 5px; /* Add some margin between images */
}
.abcd-list {
    list-style: none;
    counter-reset: abcd-counter;
    padding-left: 0;
}

.abcd-list li::before {
    content: counter(abcd-counter, lower-alpha) ". ";
    counter-increment: abcd-counter;
    font-weight: bold;
    margin-right: 5px;
}
.image-task6 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.image-container {
    width: 30%; /* Adjust as needed */
    margin: 10px;
    text-align: center; /* Centers the image and the text */
}

.image-container img {
    max-width: 100%;  /* Makes the image fill the container */
    display: block; /* Ensures the image is on its own line */
}

.image-container p {
    margin: 5px 0 20px; /* Adjust top and bottom margin as needed */
}
.card {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px 0;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}